@use 'fonts';

// Color Variables
$primary-color: #007bff; // Example: Blue
$secondary-color: #6c757d; // Example: Gray
$button-color: #FFE472; // Example: Green

// Font Variables
$heading-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$paragraph-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: 'Times New Roman', Times, serif;






