p,a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    .footer{
        background-color: #404040;
        
    }
    
    
    li::before {
        content: "> "; 
        color: #000; 
        font-weight: bold; 
    }

    
    ul {
        list-style-type: none; 
        padding-left: 0; 
    }
    
    li {
        margin-bottom: 10px; 
        color: white;
    }

    
    h3 {
        text-decoration: underline;
        text-decoration-thickness: 3px; 
        text-underline-offset: 3px;
        color: white; 
        font-family: Arial, Helvetica, sans-serif;
    }
    background-color:  #404040;;
}
footer div:nth-child(4) form {
    display: flex; 
    gap: 0; 
}

footer div:nth-child(4) input[type="email"] {
    flex-grow: 1; 
    border-right: none; 
}

footer div:nth-child(4) button {
    margin-left: -5px; 
}
#newsLetter{
    img {
        width: 24px; 
        height: 24px; 
  }
}
.footer-align {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    color: white;
    
    p {
      margin-right: auto; 
      color: white;
    }
    
    a, button {
      margin: 0 5px;
      color: white; 
    }
    img {
        width: 24px; 
        height: 24px; 
  }
  background-color: black;
    color: white;
  
}


.footer-nav a  {
    display: block; 
    margin-bottom: 10px;
}